:root {
  --smallPixel: 20px;
  --bigPixel: 100px;
  --darkBlue: #0b0d17;
  --lightBlue: #d0d6f9;
  --lightWhite: #ffffff;
}
body {
  background-color: var(--darkBlue);
  color: var(--lightWhite);
  font-family: 'Barlow', sans-serif;
  /* overflow: hidden; */
}
.nav-bar-section {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}
.nav-bar-leftSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar-leftSide img{
  margin-top: 8px;
}
.nav-bar-rightSide {
  background-color: rgba(151, 151, 151, 0.5);
  width: 830px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}
.home-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}
.home-main-container h2 {
  font-size: 28px;
}
.home-main-container h1 {
  font-size: 150px;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
}
.home-main-container p {
  margin: 0;
  font-size: 18px;
}
.btn-explore {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: none;
  font-size: 32px;
  transition: all 250ms;
  cursor: pointer;
  background-color: var(--lightWhite);
  color: var(--darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btn-explore:hover {
  filter: drop-shadow(0 0 1.75rem rgb(180, 189, 212));
  transform: scale(1.1);
  font-size: 1.9em;
  text-shadow: 10px 5px 10px rgb(177, 177, 177);
  box-shadow: 3px 3px 30px rgb(253, 255, 224);
  
}
.btn-explore:hover::after{
  font-weight: bolder;
  transform: 0;
  width: 0;
}
.home-left-section {
  padding: 70px;
  width: 450px;
}
.home-right-section {
  padding: 70px;
  width: 450px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.img-star-logo {
  width: 48px;
  transition: all 250ms;
}
.img-star-logo:hover {
  transform: scale(1.03);
}
ul {
  list-style: none;
  display: flex;
}
a {
  font-size: 2em;
  margin: 0px;
  color: var(--lightWhite);
  text-decoration: none;
}

li {
  transition: all 250ms;
  margin: 20px;
  text-transform: uppercase;
}

li:hover {
  transform: scale(1.04);
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.2s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0;
}
li:active{
  transform: scale(0.9);
}
.inside-line{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.hr-awesome-line{
  width: 100%;
}
.nav-bar-leftSide a:hover::after{
  transition: 0;
  display: none;
}


.home-background {
  background-image: url('./assets/home/background-home-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.destination-background {
  background-image: url('./assets/destination/background-destination-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.crew-background {
  background-image: url('./assets/crew/background-crew-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.technology-background {
  background-image: url('./assets/technology/background-technology-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
/* --------------------- */
.main-uber-holder{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}
.main-container-left{
  /* background-color: darkcyan; */
  margin-top: var(--bigPixel);
}
.main-container-right{
  /* background-color: lightslategray; */
  margin-top: var(--bigPixel);
}

.main-planet-holder{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
  padding: 50px;
}
.planet-img{
  width: 500px;
  margin: 60px;
}

.planet-button{
  border: none;
  background: transparent;
  font-size: 1.8em;
  cursor: pointer;
  padding: 20px;
  padding-bottom: 0;
  color: var(--lightWhite);
  transition: 150ms all;
  padding-left: 0;
}
.planet-button:hover{
  transform: scale(1.1);
  text-decoration: underline;
}
.planet-heading{
  font-size: 150px;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
}
.planet-description{
  /* background-color: rgb(102, 102, 102); */
  max-width: 600px;
}
.planet-description-paragraph{
  font-size: 1.3em;
  width: 500px;
  line-height: 32px;
}
.grey-text{
  color: grey;
  padding-right: 20px;
}
.planet-navigation{
  display: flex;
  border-top: grey 2px solid;
  margin: 70px 0 50px 0;
}
.planet-info{
  padding: 20px 50px 0 0px;
}
.planet-info-heading{
  font-size: 1.3em;
  color: var(--lightBlue);
}
.planet-travel-time{
  font-size: 2.2em;
  padding: 0;
  margin: 0;
}
.main-planet-holder{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
  padding: 50px;
}
.main-container-left h2{
  font-size: 2em;
}
.btn-crew{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 30px;
  border: none;
  transition: all 250ms;
}
.btn-crew:hover{
  transform: scale(1.1);
}
.crew-heading-specialization{
  font-size: 2.0em;
  text-transform: uppercase;
}
.crew-heading-name{
  font-size: 3.2em;
  font-family: 'Playfair Display SC', serif; 
  font-weight: 400;
}
.crew-container{
  min-width: 450px;
}

/* technology side */

.tech-side-left{
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  /* align-items: center; */
}
.tech-side-right{
  width: 500px;
}
.tech-container{
  /* background-color: green; */
  width: 100px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
}
.tech-btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  margin-right: 120px;
  cursor: pointer;
  transition: all 150ms;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.5em;
  font-family: 'Barlow', sans-serif;
}
.tech-btn:hover{
  transform: scale(1.1);
  background-color: var(--lightWhite);
  color: var(--darkBlue);
}
.tech-btn:active{
  transform: scale(1);
}
.tech-info{
  min-width: 450px;
  margin-right: 150px;
}
.tech-subtitle{
  color: var(--lightBlue);
  margin-bottom: 0;
}
.tech-title{
  font-size: 3.2em;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  margin-top: 0;
}
.tech-description{
  line-height: 32px;
  font-size: 1.1em;
}

.crew-image{
  padding-left: 130px;
  /* outline: 2px solid red; */
}
.btn-container{
  margin-top: 130px;
  
}
.tech-tech-title{
  margin: 130px 0 30px 0;
  font-size: 2em;
}
.fix1{
  padding-left: 50px;
  margin-left: 100px;
    display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 70%;
  margin: 0 auto;
  padding: 50px;
}

@media only screen and (max-width: 940px){
  .home-background {
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  body{
    overflow-x: hidden;
  }
  .nav-bar-section{
    margin-left: 20px;
  }
  a{
    font-size: 1.3em;
  }
  ul{
    padding: 20px;
  }
  .home-left-section{
    text-align: center;
  }
  .home-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-planet-holder{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .main-container-right{
    text-align: center;
  }
  .planet-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .planet-info{
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .crew-container{
    text-align: center;
  }
  .btn-container{
    margin: 30px;
  }
  .main-planet-holder{
    padding-bottom: 0;
  }
  .fix1{
    padding: 0;
  }
  .tech-side-left{
    display: flex;
    flex-direction: row;
  }
  .tech-side-left p{
    font-size: 1em;
  }
  .tech-btn{
    margin: 10px;
  }
  .tech-info{
    margin: 0;
  }
  .button-inside{
    margin-right: 20px;
  }
}

/* PHONE */
@media only screen and (max-width: 500px){
  body{
    overflow-x: hidden;
  }
  .home-main-container{
    max-width: 350px;
    
  }
  .home-left-section{
    max-width: 350px;
    padding: 0;
  }
  #space-heading{
    font-size: 100px;
  }
  .home-right-section{
    max-width: 350px;
    padding: 0;
  }

  .nav-bar-section{
    margin: 10px;
  }
  a{
    font-size: 1.2em;
  }
  ul{
    display: flex;
    flex-direction: column;
    height: 200px;
  }
  .nav-bar-rightSide{
    height: 300px;
    
  }
  .crew-container, .planet-description-paragraph, .main-container-left, .planet-description, .main-container-right{
    max-width: 350px;
  }
  .crew-heading-name{
    font-size: 1.4em;
  }
  .crew-image{
    width: 100%;
    padding: 0;
  }
  .main-planet-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
  .planet-img{
    width: 100%;
    margin: 0;
  }
  .planet-heading{
    font-size: 100px;
  }
p{
  max-width: 350px;
  margin: 0;
}
  .technology-img{
    width: 350px;

  }
  .just-div, .tech-description{
    max-width: 350px;
  }
  .tech-description{
    margin-left: 40px;
    margin: 0;
  }
  .tech-info{
    width: 350px;
  }
  .tech-side-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin: 0;

  }
  .tech-btn{
    margin: 10px;
  }
  .tech-container{
    margin: 10px;
  }
  .tech-title{
    font-size: 1.6em;
  }
  .tech-side-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }
  .tech-side-left{
    width: 350px;
  }
  .planet-description-paragraph{
    margin-left: 50px;
    text-align: center;
  }
  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

  }
  .mycontainer-paragraph{
    width: 300px;
    margin: 0 auto;
  }
  .destination-paragraph{
    
  }
  .btn-explore{
    margin: 50px;
  }


}